<%= javascript_include_tag "slidebox" %>
<%= stylesheet_link_tag    "slidebox", :media => "all" %>
<div class="row">
  <div class="span3 bs-docs-sidebar" >
    <ul class="nav nav-list bs-docs-sidenav" id="left_side">
      <% @left_items.each do |item| %>
        <li class=""><a href="<%= left_item_path item %>"><i class="icon-chevron-right"></i> <%= item.title %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="span9" id="span9">
    <section>
    <div style='display: block;margin-right: auto;margin-left: auto;'>
      <div id="slideBox" class="slideBox span7">
        <ul class="items">
          <% @slide_items.each do |item| %>
            <li>
            <a href="/slide_items/<%= item.id %>" title="<%= item.title %>">
              <img <%= raw img_src(item.slideimg) %> >
            </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    </section>
    <section id="media" style="display:none;">
    </section>

  </div>
</div>
<script type="text/javascript">
  　$(function(){

    $('#slideBox').slideBox();
  });
</script>
