<%= form_for(@top_item) do |f| %>
  <% if @top_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@top_item.errors.count, "error") %> prohibited this top_item from being saved:</h2>

      <ul>
      <% @top_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "标题" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "内容" %>
    <%= f.kindeditor :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
