<table class="table table-bordered">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>操作</th>

  </tr>

  <% @top_items.each do |top_item| %>
    <tr>
      <td><%= top_item.title %></td>
      <td><%= link_to top_item_path(top_item) , top_item %></td>
      <td>
        <%= link_to '显示', top_item %>
        <%= link_to '编辑', edit_top_item_path(top_item) %>
        <%= link_to '删除', top_item, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
<a href="<%= new_top_item_path %>">New Top item<i class="icon-plus"></i></a>
