<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>名榜教育</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/admin">名榜教育</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class= <%= 'active' if params[:controller] == 'home' %> >
              <a href="/">首页</a>
            </li>
            <% TopItem.all.each do |item| %>
            <li class= <%= 'active' if item.id == params[:id].to_i %> >
              <%= link_to  item.title ,item %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <header class="jumbotron" id="overview">
    <div class="container">
      <span>
        <span style="font-size:80px;line-height: 1;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: bold;line-height: 20px;">名榜教育</span> 
        <%= image_tag "logo.png" ,:size => "45x45" ,:style => "margin-bottom: 70px;" ,:id=>"logo"%>
        <p class="lead">&nbsp;&nbsp;&nbsp;—— 异地高考咨询师，改变孩子一生命运的平台</p>
      </span>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
    <footer class="footer">
      <div class="container">
        <p>名榜教育 ©2013 版权所有</p>
      </div>
    </footer>
</body>
</html>
